<h1>Findersfee</h1>

{{!-- Devoured burgers will be displayed here --}}
<ul>

  {{#each item_name}}
    {{#unless this.found}}
      <li style="list-style-type: none">
    {{this.item_name}}
    {{this.category}}
    {{this.description}}
    {{this.fee}}
    {{this.found}}
      </li>
    {{/unless}}
  {{/each}}
</ul>
