
<div id="finderinstructions" class="row">
<h2>Helping Others Has Its Rewards!</h2> 
<p>How?</p>
<p> Select an item below and tell us how to locate it. You will be emailed with instructions on how you can get the finder's fee.</p>
</div>



<h2>ITEMS TO FIND</h2>

<ul>
  {{#each item_name}}
    {{#unless this.found}}
    <li style="list-style-type: none; display: none">{{this.id}}</li>
    <li style="list-style-type: none">Item Name: {{this.item_name}}</li>
    <li style="list-style-type: none">Category:{{this.category}}</li>
    <li style="list-style-type: none">Description:{{this.description}}</li>
    <li style="list-style-type: none">Fee:{{this.fee}}</li>
    <form action="post/{{this.id}}?_method=PUT" method="POST">
    <div class="form-group">
    <li style="list-style-type: none">Found: <input type="checkbox" name="found" value="true"> </li>
    <input type="text" id="finders_email" name="finders_email">
    <button type="submit">Submit</button>
    {{/unless}}
  {{/each}}
</ul>
</div>
</form>


